<Jumbo>
  <h2>Contact Us</h2>
  <p>
    Umber Number Representatives would love to help you<br>
    choose a destination or answer any questions you may have.
  </p>
  <address>
    Umber Number HQ
    <p>
      Ankara, <br>
      Turkey
    </p>
    <a href="tel:503.555.1212">+1 (503) 555-1212</a><br>
    <a href="mailto:superrentalsrep@emberjs.com">superrentalsrep@emberjs.com</a>
  </address>
  <LinkTo @route="index" class="button">Homepage</LinkTo>
  <LinkTo @route="about" class="button">About Us</LinkTo>
</Jumbo>